TicTacToe-build--Necessitas_Qt_4_8_0_for_Android_armv5_Release/Makefile
TicTacToe-build--Necessitas_Qt_4_8_0_for_Android_armv5_Release/app_process
TicTacToe-build--Necessitas_Qt_4_8_0_for_Android_armv5_Release/libTicTacToe.so
TicTacToe-build--Necessitas_Qt_4_8_0_for_Android_armv5_Release/libc.so
TicTacToe-build--Necessitas_Qt_4_8_0_for_Android_armv5_Release/logic.o
TicTacToe-build--Necessitas_Qt_4_8_0_for_Android_armv5_Release/main.o
TicTacToe-build--Necessitas_Qt_4_8_0_for_Android_armv5_Release/moc_logic.cpp
TicTacToe-build--Necessitas_Qt_4_8_0_for_Android_armv5_Release/moc_logic.o
TicTacToe-build--Necessitas_Qt_4_8_0_for_Android_armv5_Release/moc_qmlapplicationviewer.cpp
TicTacToe-build--Necessitas_Qt_4_8_0_for_Android_armv5_Release/moc_qmlapplicationviewer.o
TicTacToe-build--Necessitas_Qt_4_8_0_for_Android_armv5_Release/qml/TicTacToe/main.qml
TicTacToe-build--Necessitas_Qt_4_8_0_for_Android_armv5_Release/qmlapplicationviewer.o
TicTacToe-build--Necessitas_Qt_4_8_0_for_Android_armv5_Release/qrc_resources.cpp
TicTacToe-build--Necessitas_Qt_4_8_0_for_Android_armv5_Release/qrc_resources.o
TicTacToe-build--Necessitas_Qt_4_8_0_for_Android_armv5_Release/qtmain_android.o
TicTacToe-build-desktop-Desktop_Qt_4_8_0_for_GCC__Qt_SDK__Debug/Makefile
TicTacToe-build-desktop-Desktop_Qt_4_8_0_for_GCC__Qt_SDK__Debug/TicTacToe.app/Contents/Info.plist
TicTacToe-build-desktop-Desktop_Qt_4_8_0_for_GCC__Qt_SDK__Debug/TicTacToe.app/Contents/MacOS/TicTacToe
TicTacToe-build-desktop-Desktop_Qt_4_8_0_for_GCC__Qt_SDK__Debug/TicTacToe.app/Contents/PkgInfo
TicTacToe-build-desktop-Desktop_Qt_4_8_0_for_GCC__Qt_SDK__Debug/TicTacToe.app/Contents/Resources/empty.lproj
TicTacToe-build-desktop-Desktop_Qt_4_8_0_for_GCC__Qt_SDK__Debug/TicTacToe.app/Contents/Resources/icon.icns
TicTacToe-build-desktop-Desktop_Qt_4_8_0_for_GCC__Qt_SDK__Debug/TicTacToe.app/Contents/Resources/qml/TicTacToe/main.qml
TicTacToe-build-desktop-Desktop_Qt_4_8_0_for_GCC__Qt_SDK__Debug/logic.o
TicTacToe-build-desktop-Desktop_Qt_4_8_0_for_GCC__Qt_SDK__Debug/main.o
TicTacToe-build-desktop-Desktop_Qt_4_8_0_for_GCC__Qt_SDK__Debug/moc_logic.cpp
TicTacToe-build-desktop-Desktop_Qt_4_8_0_for_GCC__Qt_SDK__Debug/moc_logic.o
TicTacToe-build-desktop-Desktop_Qt_4_8_0_for_GCC__Qt_SDK__Debug/moc_qmlapplicationviewer.cpp
TicTacToe-build-desktop-Desktop_Qt_4_8_0_for_GCC__Qt_SDK__Debug/moc_qmlapplicationviewer.o
TicTacToe-build-desktop-Desktop_Qt_4_8_0_for_GCC__Qt_SDK__Debug/qmlapplicationviewer.o
TicTacToe-build-desktop-Desktop_Qt_4_8_0_for_GCC__Qt_SDK__Debug/qrc_resources.cpp
TicTacToe-build-desktop-Desktop_Qt_4_8_0_for_GCC__Qt_SDK__Debug/qrc_resources.o
TicTacToe-build-desktop-Desktop_Qt_4_8_0_for_GCC__Qt_SDK__Release/Makefile
TicTacToe-build-desktop-Desktop_Qt_4_8_0_for_GCC__Qt_SDK__Release/TicTacToe.app/Contents/Info.plist
TicTacToe-build-desktop-Desktop_Qt_4_8_0_for_GCC__Qt_SDK__Release/TicTacToe.app/Contents/MacOS/TicTacToe
TicTacToe-build-desktop-Desktop_Qt_4_8_0_for_GCC__Qt_SDK__Release/TicTacToe.app/Contents/PkgInfo
TicTacToe-build-desktop-Desktop_Qt_4_8_0_for_GCC__Qt_SDK__Release/TicTacToe.app/Contents/Resources/empty.lproj
TicTacToe-build-desktop-Desktop_Qt_4_8_0_for_GCC__Qt_SDK__Release/TicTacToe.app/Contents/Resources/icon.icns
TicTacToe-build-desktop-Desktop_Qt_4_8_0_for_GCC__Qt_SDK__Release/TicTacToe.app/Contents/Resources/qml/TicTacToe/main.qml
TicTacToe-build-desktop-Desktop_Qt_4_8_0_for_GCC__Qt_SDK__Release/logic.o
TicTacToe-build-desktop-Desktop_Qt_4_8_0_for_GCC__Qt_SDK__Release/main.o
TicTacToe-build-desktop-Desktop_Qt_4_8_0_for_GCC__Qt_SDK__Release/moc_logic.cpp
TicTacToe-build-desktop-Desktop_Qt_4_8_0_for_GCC__Qt_SDK__Release/moc_logic.o
TicTacToe-build-desktop-Desktop_Qt_4_8_0_for_GCC__Qt_SDK__Release/moc_qmlapplicationviewer.cpp
TicTacToe-build-desktop-Desktop_Qt_4_8_0_for_GCC__Qt_SDK__Release/moc_qmlapplicationviewer.o
TicTacToe-build-desktop-Desktop_Qt_4_8_0_for_GCC__Qt_SDK__Release/qmlapplicationviewer.o
TicTacToe-build-desktop-Desktop_Qt_4_8_0_for_GCC__Qt_SDK__Release/qrc_resources.cpp
TicTacToe-build-desktop-Desktop_Qt_4_8_0_for_GCC__Qt_SDK__Release/qrc_resources.o
TicTacToe-build-desktop-Qt4iOS_Release/Makefile
TicTacToe-build-desktop-Qt4iOS_Release/TicTacToe.app/Contents/Info.plist
TicTacToe-build-desktop-Qt4iOS_Release/TicTacToe.app/Contents/MacOS/TicTacToe
TicTacToe-build-desktop-Qt4iOS_Release/TicTacToe.app/Contents/PkgInfo
TicTacToe-build-desktop-Qt4iOS_Release/TicTacToe.app/Contents/Resources/empty.lproj
TicTacToe-build-desktop-Qt4iOS_Release/TicTacToe.app/Contents/Resources/icon.icns
TicTacToe-build-desktop-Qt4iOS_Release/TicTacToe.app/Contents/Resources/qml/TicTacToe/main.qml
TicTacToe-build-desktop-Qt4iOS_Release/libTicTacToe.a
TicTacToe-build-desktop-Qt4iOS_Release/logic.o
TicTacToe-build-desktop-Qt4iOS_Release/main.o
TicTacToe-build-desktop-Qt4iOS_Release/moc_logic.cpp
TicTacToe-build-desktop-Qt4iOS_Release/moc_logic.o
TicTacToe-build-desktop-Qt4iOS_Release/moc_qmlapplicationviewer.cpp
TicTacToe-build-desktop-Qt4iOS_Release/moc_qmlapplicationviewer.o
TicTacToe-build-desktop-Qt4iOS_Release/qmlapplicationviewer.o
TicTacToe-build-desktop-Qt4iOS_Release/qrc_resources.cpp
TicTacToe-build-desktop-Qt4iOS_Release/qrc_resources.o
